html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  background-color: #f5f5f5;
}

.move-icons-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.completed .move-icons-wrapper {
  display: none !important;
}

.accordion-summary:hover .move-icons-wrapper {
  display: flex;
  opacity: 1;
}